<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Próximamente</title>
    <link rel="stylesheet" href="css/conexión.css">
</head>
<body>
    <div class="contenedor">
        <h1>Próximamente</h1>
        <p>Estamos trabajando en algo emocionante. ¡Vuelve pronto para descubrirlo!</p>
        <a href="index.ejs">
            <button class="BtnSignOff">Volver al Inicio</button>
        </a>
    </div> 

    <script>
        function inicio(){
            window.location.href = "/index";
        }
    </script>
</body>
</html>