<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="css/espacio.css">
</head>
<body>
<!-- header section starts  -->
<header class="header">
    <section class="flex">
        <a href="#" class="logo">
            <img src="img/logo-g.jpg " onclick="inicio()" alt="logo GNOSIS" style="border-radius: 50%;"/>
        </a>

        <nav class="navbar">
            <a href="index">Inicio</a>
            <a href="ninos">Niños</a>
            <a href="cuestionarios">Cuestionarios</a>
            <a href="#">Espacio personal</a>
        </nav>
    </section>
</header>

<section class="borde">
    <div class="profile">
        <div class="foto">

        </div>
        <div class="info">

        </div>
    </div>
</section>

<section class="borde1">
    <div class="board">
        <div class="add">
            <div class="carta">
                <h3>prueba 1</h3>
                <button id="add">
                    <i class="fa-solid fa-circle-plus"></i>
                </button>
            </div>
        </div>
        <div class="notes">
            <h1>Prueba1</h1>
        </div>
    </div>
</section>

<footer>
<div class="contenedor">
    <p>&copy; GNOSIS 2024</p>
</div> 
</footer>

    <script src="js/spacio.js"></script>
</body>
</html>