<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="css/niños.css">
</head>
<body>
<!-- header section starts  -->
<header class="header">
    <section class="flex">
        <a href="#" class="logo">
            <img src="img/logo-g.jpg " onclick="inicio()" alt="logo GNOSIS" style="border-radius: 50%;"/>
        </a>

        <nav class="navbar">
            <a href="index">Inicio</a>
            <a href="ninos">Niños</a>
            <a href="cuestionarios">Inicio</a>
            <a href="Espacio personal">Inicio</a>
        </nav>
    </section>
</header>

    <div id="contenedor-general">
        <div class="menu-categorias">
            <button class="category" id="general-btn">General</button>
        </div>

        <!--<hr>--->

    <div id="cuestionarios">
        <h2 id="text">Cuestionarios</h2>
        <div id="General" class="hidden">
            <div id="Generales" class="grid-container">
                <div class="carta">
                    <h3>Memograma 1</h3>
                    <button id="mostrarSweetAlert-1">Empezar</button>
                </div>
                <div class="carta">
                    <h3>Memograma 2</h3>
                    <button id="mostrarSweetAlert-2">Empezar</button>
                </div>
                <div class="carta">
                    <h3>Puzzle</h3>
                    <button id="mostrarSweetAlert-3">Empezar</button>
                </div>
                <div class="carta">
                    <h3>Crossword</h3>
                    <button id="mostrarSweetAlert-4">Empezar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="redes-sociales">
    <a href="https://www.facebook.com/profile.php?id=61550080205874&mibextid=ZbWKwL" target="_blank" class="red-social"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/Bamboom503?t=QwFRBX1KkhZC79gHySzq1w&s=08" target="_blank" class="red-social"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://instagram.com/bamboom503?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D" target="_blank" class="red-social"><i class="fab fa-instagram"></i></a>
</div>

<footer>
<div class="contenedor">
    <p>&copy; GNOSIS 2024</p>
</div> 
</footer>

    <script src="js/spacio.js"></script>
</body>
</html>