<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="css/niños.css">
</head>
<body>
<!-- header section starts  -->
<header class="header">
    <section class="flex">
        <a href="#" class="logo">
            <img src="img/logo-g.jpg " onclick="inicio()" alt="logo GNOSIS" style="border-radius: 50%;"/>
        </a>

        <nav class="navbar">
            <a href="index">Inicio</a>
            <a href="index#caracteristicas">Características</a>
            <a href="index#descripcion">Descripción</a>
            <a href="index#sobre-nosotros">Sobre Nosotros</a>
            <a href="index#mision-vision">Misión-Visión</a>
            <a href="index#desarrolladores">Desarrolladores</a>
            <a href="index#contactanos">Contactanos</a>
            <a href="index#caso-de-uso">Caso de uso</a>
        </nav>

<!--Menú dropdown-->
        <nav class="nav">
            <div class="nav__container">
                <a href="#menu" class="nav__menu">
                    <img src="./assets/menu.svg" class="nav__icon" />
                </a>
                <a href="#" class="nav__menu nav__menu--second">
                    <img src="./assets/close.svg" class="nav__icon" />
                </a>
                <ul class="dropdown" id="menu">
                    <li class="dropdown__list">
                        <a href="index.ejs" class="dropdown__link">
                            <img src="./assets/house.svg" class="dropdown__icon" />
                            <span class="dropdown__span">Inicio</span>
                        </a>
                    </li>

                    <li class="dropdown__list">
                        <a href="#" class="dropdown__link">
                            <img src="assets/projects.svg" class="dropdown__icon" />
                            <span class="dropdown__span">Niños</span>
                            <img src="./assets/down.svg" class="dropdown__arrow" />
                            <input type="checkbox" class="dropdown__check" />
                        </a>
                        <div class="dropdown__content">
                            <ul class="dropdown__sub">
                                <li class="dropdown__li">
                                    <a href="#" onclick="niños()" class="dropdown__anchor">Niños 1</a>
                                </li>
                                <li class="dropdown__li">
                                    <a href="#" onclick="niños()" class="dropdown__anchor">Niños 2</a>
                                </li>
                                <li class="dropdown__li">
                                    <a href="#" onclick="niños()" class="dropdown__anchor">Niños 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="dropdown__list">
                        <a href="#" class="dropdown__link">
                            <img src="./assets/projects.svg" class="dropdown__icon" />
                            <span class="dropdown__span">Cursos</span>
                            <img src="./assets/down.svg" class="dropdown__arrow" />
                            <input type="checkbox" class="dropdown__check" />
                        </a>
                        <div class="dropdown__content">
                            <ul class="dropdown__sub">
                                <li class="dropdown__li">
                                    <a href="conexion.html" class="dropdown__anchor">Cursos 1</a>
                                </li>
                                <li class="dropdown__li">
                                    <a href="conexion.html" class="dropdown__anchor">Cursos 2</a>
                                </li>
                                <li class="dropdown__li">
                                    <a href="conexion.html" class="dropdown__anchor">Cursos 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="dropdown__list">
                        <a href="#" class="dropdown__link">
                            <img src="./assets/projects.svg" class="dropdown__icon" />
                            <span class="dropdown__span">Acertijos</span>
                            <img src="./assets/down.svg" class="dropdown__arrow" />
                            <input type="checkbox" class="dropdown__check" />
                        </a>
                        <div class="dropdown__content">
                            <ul class="dropdown__sub">
                                <li class="dropdown__li">
                                    <a href="conexion.html" class="dropdown__anchor">Acertijos 1</a>
                                </li>
                                <li class="dropdown__li">
                                    <a href="conexion.html" class="dropdown__anchor">Acertijos 2</a>
                                </li>
                                <li class="dropdown__li">
                                    <a href="conexion.html" class="dropdown__anchor">Acertijos 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="dropdown__list">
                        <a href="#" class="dropdown__link">
                            <img src="./assets/projects.svg" class="dropdown__icon" />
                            <span class="dropdown__span">Cuestionarios</span>
                            <img src="./assets/down.svg" class="dropdown__arrow" />
                            <input type="checkbox" class="dropdown__check" />
                        </a>
                        <div class="dropdown__content">
                            <ul class="dropdown__sub">
                                <li class="dropdown__li">
                                    <a href="#" onclick="cuestionarios()" class="dropdown__anchor">Cuestionarios 1</a>
                                </li>
                                <li class="dropdown__li">
                                    <a href="#" onclick="cuestionarios()" class="dropdown__anchor">Cuestionarios 2</a>
                                </li>
                                <li class="dropdown__li">
                                    <a href="#" onclick="cuestionarios()" class="dropdown__anchor">Cuestionarios 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</header>

    <div class="menu-btn" id="menuBtn">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <div id="contenedor-general">

        <!--<hr>--->

    <div id="cuestionarios">
        <h2 id="text">Cuestionarios</h2>
        <div id="General" class="hidden">
            <div id="Generales" class="grid-container">
                <div class="carta">
                    <h3>Memorama 1</h3>
                    <button id="mostrarSweetAlert-1">Empezar</button>
                </div>
                <div class="carta">
                    <h3>Memorama 2</h3>
                    <button id="mostrarSweetAlert-2">Empezar</button>
                </div>
                <div class="carta">
                    <h3>Crossword</h3>
                    <button id="mostrarSweetAlert-3">Empezar</button>
                </div>
                <div class="carta">
                    <h3>Animales</h3>
                    <button id="mostrarSweetAlert-4">Empezar</button>
                </div>
                <div class="carta">
                    <h3>Transporte</h3>
                    <button id="mostrarSweetAlert-5">Empezar</button>
                </div>
                <div class="carta">
                    <h3>Profesiones</h3>
                    <button id="mostrarSweetAlert-6">Empezar</button>
                </div>
                <div class="carta">
                    <h3>Frutas y verduras</h3>
                    <button id="mostrarSweetAlert-7">Empezar</button>
                </div>
                <div class="carta">
                    <h3>Aparatos electrónicos</h3>
                    <button id="mostrarSweetAlert-8">Empezar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="redes-sociales">
    <a href="https://www.facebook.com/profile.php?id=61550080205874&mibextid=ZbWKwL" target="_blank" class="red-social"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/Bamboom503?t=QwFRBX1KkhZC79gHySzq1w&s=08" target="_blank" class="red-social"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://instagram.com/bamboom503?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D" target="_blank" class="red-social"><i class="fab fa-instagram"></i></a>
</div>

<footer>
<div class="contenedor">
    <p>&copy; GNOSIS 2024</p>
</div> 
</footer>

    <script src="js/niños.js"></script>
    <script>
        function inicio(){
            window.location.href = "/index";
        }

        function niños() {
            window.Location.href = "/ninos"
        }

        function cuestionarios() {
            window.location.href = "/cuestionarios"
        }
    </script>
</body>
</html>