*{
    transition: all 0.25s;
}

body{
    font-family: Arial;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: steelblue;
    color: white;
    background-image: url(https://media.istockphoto.com/id/1788127325/es/foto/pizarra-con-muchas-f%C3%B3rmulas-matem%C3%A1ticas-diferentes-en-una-pared-blanca.webp?b=1&s=612x612&w=0&k=20&c=ZQWAIoQcDB8xDgeJOVNsV1jCzJ2FYfUFbYYvZVbO_Es=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

#encabezado{
    width: 80vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 120%;
}

#encabezado img{
    width: 90%;
    height: 100px;
    object-fit: contain;
}

.btn{
    font-size: 1em;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(101, 33, 165);
}

.opcion{
    width: 80vw;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.opcion:hover{
    background-color: rgb(101, 33, 165);
}