<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crucigrama</title>
    <link rel="stylesheet" href="css/prueba0.css">
</head>
<body>
    <div id="pantalla-inicial">
        <h1>CRUCIGRAMA</h1>
        <button class="btn">Comenzar a jugar</button>
    </div>

    <div id="pantalla-juego" style="display: none;">
        <h1>Crucigrama</h1>
        <div class="game-container">
            <div class="table-container">
                <div id="timer"></div>
                <table id="crossword"></table>
            </div>
            <div class="word-list">
                <h2>Palabras</h2>
                <ul>
                    <li>RATON</li>
                    <li>CARACOL</li>
                    <li>CABALLO</li>
                    <li>LEON</li>
                    <li>ELEFANTE</li>
                    <li>CABRA</li>
                    <li>RANA</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
    <script src="js/prueba0.js"></script>
</body>
</html>