*{
    transition: all 0.25s;
}

body{
    font-family: Arial;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: steelblue;
    color: white;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-educacion-cientifica-dibujado-mano_23-2148499325.jpg?t=st=1723821341~exp=1723824941~hmac=8dcb819967a9e6840285770b8f0e3e3436c12f2a142a011decadad1cda2b7b0a&w=740);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

#encabezado{
    width: 80vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 120%;
}

#encabezado img{
    width: 90%;
    height: 100px;
    object-fit: contain;
}

.btn{
    font-size: 1em;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(101, 33, 165);
}

.opcion{
    width: 80vw;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.opcion:hover{
    background-color: rgb(101, 33, 165);
}