*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f0f0f0; /* Color de fondo */
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid blueviolet;
    color: white;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);}

.contenedor {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333; /* Color de fondo del contenedor */
    padding: 30px;
    border-radius: 10px;
    color: #fff; /* Color del texto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: blueviolet;
    /*color: #ff7f50;*/
}

p {
    font-size: 1.5em;
    margin-top: 20px;
}

.BtnSignOff{
    font-size: 1em;
    background: transparent;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 5px;
    right: 35%;
}

.BtnSignOff:hover{
    transform: scale(1.1);
}