@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color1: blueviolet;
    --main-color:#f3c081;
    --main-color2:#FF5733;
    --black:#13131a;
    --bg:#010103;
    --main-color0: #f3f3f3;
    --main-color2:#d3ad7f;
    --black1:#13131a;
    --bg1:#010103;
    --bg2:#F5F5F5 ;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

#map{
    width: 100%;
    height: 170%;
    z-index: 999;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg2);
}

section{
    padding:3rem 2rem;
    margin: 0 auto;
    max-width: 1330px;
}

li, i, p{text-align: justify;}

.heading{
    text-align: center;
    color: var(--main-color0);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: var(--border);
    background: var(--bg);
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.9rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}