@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color0: #16063a;
    --main-color: gold;
    --main-color2:#d3ad7f;
    --black:#7b55c2;
    --black1:#13131a;
    --bg :#554670;
    --bg1:#010103;
    --bg2:#F5F5F5 ;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

#map{
    width: 100%;
    height: 170%;
    z-index: 999;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg2);
}

section{
    padding:3rem 2rem;
    margin: 0 auto;
    max-width: 1330px;
}

li, i, p{text-align: justify;}

.heading{
    text-align: center;
    color: var(--main-color0);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: var(--border);
    background: var(--bg);
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.9rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.nav {
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has(.dropdown:target) {
    --img1: scale(0);
    --img2: scale(1);

    --clip: inset(0 0 0 0);
}

.nav__container {
    width: 90%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav__menu {
    grid-area: img;
    position: relative;
    z-index: 10;
    transform: var(--img1);
}

.nav__menu--second {
    transform: var(--img2);
}

.nav__icon {
    width: 45px;
    display: block;
}

.dropdown {
    position: fixed;
    /* Cambiado a fixed para mantener la posición */
    background-color: #000;
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 70px;
    /* Ajustar top para que aparezca debajo del header */
    padding: 1em;

    display: grid;
    align-content: center;
    gap: 1rem;

    overflow-y: auto;

    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path 0.5s;
}

.dropdown__list {
    list-style: none;
}

.dropdown__link {
    font-size: 1.5rem;
    color: rgb(184, 187, 191);
    padding: 1em 0.7em;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has(:checked) {
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303b;
}

.dropdown__check {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow {
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: 0.2s transform;
}

.dropdown__content {
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: 0.3s grid-template-rows;
}

.dropdown__sub {
    overflow: hidden;
}

.dropdown__li {
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor {
    padding: 1em 0;
    display: block;
    color: #b6babe;
    text-decoration: none;
}
/*Fin menú dropdowns*/