@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color0: #16063a;
    --main-color: gold;
    --main-color2:#d3ad7f;
    --black:#7b55c2;
    --black1:#13131a;
    --bg :#554670;
    --bg1:#010103;
    --bg2:#F5F5F5 ;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

#map{
    width: 100%;
    height: 170%;
    z-index: 999;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg2);
}

section{
    padding:3rem 2rem;
    margin: 0 auto;
    max-width: 1330px;
}

li, i, p{text-align: justify;}

.heading{
    text-align: center;
    color: var(--main-color0);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: var(--border);
    background: var(--bg);
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.9rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

/*Inicio del espacio del perfil*/
.borde .profile{
    display: flex;
    flex-direction: row;
    color: #fff;
    background:var(--main-color0);
    justify-content: space-between;
    gap:1rem;
    padding: 5rem;
}

/*Inicio de la seccion quiz-note*/
.borde1{
    background-color: #13131a
}
.borde1 .board{
    display: flex;
    flex-direction: row;
    color: #fff;
    background:var(--main-color2);
    padding: 1rem;
}

.board .add{
    width: 60%;
}

.board .notes{
    width: 40%;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    margin: 10px;
    border-radius: 10px;
}

.borde1 .board i{
    color: black;
;
}

.carta {
    font-size: 2em;
    color: white;
    background-position: center center;
    background-size: cover;
    margin: 10px; /* Margen entre las cartas */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: calc(25% - 20px); /* Ancho para cuatro cartas por línea con margen */
}

.carta button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

.carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(https://img.freepik.com/vector-gratis/fondo-abstracto-colorido_23-2148811702.jpg?t=st=1718267331~exp=1718270931~hmac=03dbaad82054d813f742be9b77ad1f1b5bacd9ab86d63a24d5792ffd7a399a87&w=740);
}