@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color0: #16063a;
    --main-color: gold;
    --main-color2:#d3ad7f;
    --black:#7b55c2;
    --black1:#13131a;
    --bg :#554670;
    --bg1:#010103;
    --bg2:#F5F5F5 ;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

#map{
    width: 100%;
    height: 170%;
    z-index: 999;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg2);
}

section{
    padding:3rem 2rem;
    margin: 0 auto;
    max-width: 1330px;
}

li, i, p{text-align: justify;}

.heading{
    text-align: center;
    color: var(--main-color0);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: var(--border);
    background: var(--bg);
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.9rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.nav {
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has(.dropdown:target) {
    --img1: scale(0);
    --img2: scale(1);

    --clip: inset(0 0 0 0);
}

.nav__container {
    width: 90%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav__menu {
    grid-area: img;
    position: relative;
    z-index: 10;
    transform: var(--img1);
}

.nav__menu--second {
    transform: var(--img2);
}

.nav__icon {
    width: 45px;
    display: block;
}

.dropdown {
    position: fixed;
    /* Cambiado a fixed para mantener la posición */
    background-color: #000;
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 70px;
    /* Ajustar top para que aparezca debajo del header */
    padding: 1em;

    display: grid;
    align-content: center;
    gap: 1rem;

    overflow-y: auto;

    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path 0.5s;
}

.dropdown__list {
    list-style: none;
}

.dropdown__link {
    font-size: 1.5rem;
    color: rgb(184, 187, 191);
    padding: 1em 0.7em;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has(:checked) {
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303b;
}

.dropdown__check {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow {
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: 0.2s transform;
}

.dropdown__content {
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: 0.3s grid-template-rows;
}

.dropdown__sub {
    overflow: hidden;
}

.dropdown__li {
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor {
    padding: 1em 0;
    display: block;
    color: #b6babe;
    text-decoration: none;
}
/*Fin menú dropdowns*/

.home-container{
    background:url(../img/b1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 70%;
    height:  auto;
    border-radius: 50%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-family: Arial;
    font-size: 2rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    text-transform: none;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    background: var(--bg);
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

/*
.review .box-container .box .icon i{
    font-size: 2.5rem;
    border-radius: 50%;
    color:var(--main-color);
}*/

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .inputBox input::placeholder{color: white;}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.footer{
    background:var(--black); 
    text-align: center;
    border-top: solid 2px #d3ad7f;
    border-style: double;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}

/**/
.caracteristicas .contenedor0{
    display: flex;
    flex-direction: row;
    color: #fff;
    background:var(--black);
    justify-content: space-between;
    gap:1rem;
    padding: 5rem;
}

.caracteristicas .contenedor0 ul li{
    list-style: none;
    text-align: justify;
    line-height: 2;
    font-size: 1.8rem;
    width: 95%;
}

.caracteristicas .contenedor0 i{
    color: var(--main-color);
    padding-right: 5px;
}

.caracteristicas .contenedor0 #imgC{
    background-image: url(../img/f1.jpg);
    height:  20rem;
    width:  25rem;
    border-radius: 50%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.descripcion .contenedor1{
    display: flex;
    flex-direction: row;
    color: #fff;
    background:var(--black);
    justify-content: space-between;
    gap:1rem;
    padding: 5rem;
}

.descripcion .contenedor1 p{
    width: 60%;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.9rem;
    padding-top: 4.5rem;
}

.descripcion .contenedor1 #imgD{
    background-image: url(../img/f5.jpg);
    height:  18rem;
    width:  18rem;
    border-radius: 50%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mision-vision .contenedor3{
    display: flex;
    flex-direction: column;
    color: #fff;
    background:var(--black);
    justify-content: space-between;
    gap:1rem;
    padding: 1rem;
}

.texto {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

#mision, #vision{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mision h3, #vision h3{
    font-size: 3rem;
    color: var(--main-color);
    text-align: center;}

#mision p{
    width: 70%;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.9rem;
    padding-top: 5rem;
}

#vision p{
    width: 70%;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.9rem;
    padding-top: 4rem;
}

.mision-vision #imgM{
    background-image: url(../img/F10.png);
    height:  18rem;
    width:  18rem;
    border-radius: 10%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px; /* Separación entre la imagen y el texto */
}

.mision-vision #imgV{
    background-image: url(../img/f6.jpg);
    height:  18rem;
    width:  18rem;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px; /* Separación entre la imagen y el texto */

}

.caso-de-uso .contenedor4{
    display: flex;
    flex-direction: column;
    color: #fff;
    background:var(--black);
    justify-content: space-between;
    gap:1rem;
    padding: 5rem;
}

.caso-de-uso .contenedor4 h3{
    font-size: 3rem;
    color: var(--main-color);
}

.caso-de-uso .contenedor4 ul li{
    list-style: none;
    text-align: justify;
    line-height: 1.8;
    font-size: 1.8rem;
}

.caso-de-uso .contenedor4 i{
    color: var(--main-color);
    padding-right: 5px;
}

/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}