@import url(https://fonts.googleapis.com/css?family=Mochiy+Pop+One&display=swap);
*{
    box-sizing: border-box;
    font-family: 'Mochiy Pop One';
}
body{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, .3),
        rgba(0, 0, 0, .3)
    ), url(https://img.freepik.com/vector-gratis/papel-pintado-diseno-frutas-verduras_23-2148503352.jpg?t=st=1724390192~exp=1724393792~hmac=ca7adca3a9b404814c694608f6db66af62be041c4057d40f74e703bff0a34cf3&w=740);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
h1{
    width: fit-content;
    background-color: white;
    margin: 10px auto;
    border-radius: 60px;
    box-shadow: 5px 5px 0 black;
    padding: 15px 25px;
}
p{
    color: white;
}
footer p{
    margin: 0;
    padding-bottom: 5%;
    color: rgb(211, 210, 210);
}
footer .contenedor{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*PANTALA DE INICIO*/
#pantalla-inicial{
    display: block;
    text-align: center;
    font-size: 30px;
}
#pantalla-inicial img {
    display: block; /* Para que se comporte como un bloque y podamos alinear horizontalmente */
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 20%; 
    padding-top: 5%;
}
#pantalla-inicial{
    margin: 60px 0;
}
.btn{
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    transform: scale(1.1);
}

/*PANTALA DE JUEGO*/
#pantalla-juego{
    display: none;
}
#pantalla-juego{
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}
#pantalla-juego img{
    max-width: 300px;
    width: 100%;
}
.opciones{
    max-width: 400px;
    margin: auto;
}
.opcion{
    display: flex;
    position: relative;
    align-items: center;
    max-width: 400px;
    margin: 30px auto;
    cursor: pointer;
}
.opcion .letra{
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    border: 5px solid white;
    position: relative;
}
.opcion .nombre{
    background-color: white;
    width: 100%;
    font-size: 25px;
    position: absolute;
    margin-left: 30px;
    z-index: -2;
    border-radius: 0 20px 20px 0;
    padding: 7px 0 7px 30px;
}

/*CLASE QUE SE APLICARÁ CUANDO HAYA ACERTADO LA OPCIÓN*/
.opcion .nombreAcertada{
    background-color: yellowgreen;
    color: white;
}
.opcion .letraAcertada{
    background-color: yellowgreen;
    color: white;
}

/* CLASE QUE SE APLICARA CUANDO SE EQUIVOQUE */
.opcion .nombreNoAcertada{
    background-color: darkred;
    color: white;
}
.opcion .letraNoAcertada{
    background-color: darkred;
    color: white;
}

/*PANTALA FINAL*/
#pantalla-final{
    display: none;
    text-align: center;
}
#pantalla-final #numCorrectas{
    background-color: chartreuse;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
}
#pantalla-final #numIncorrectas{
    background-color: darkred;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
}